server {
    listen ${NGINX_PORT};
    server_name localhost;
    index index.php
    root /var/www/public_html;
    client_max_body_size 0;
    location ~ \.php$ {
        try_files $uri =404;
        fastcgi_pass php_${NAME_PROJECT}:9000;
        fastcgi_index index.php;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }
}